{{define "head"}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>{{if .title}}{{.title}} | {{end}}{{SiteTitle}}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{SiteFavicon}}</text></svg>">
    {{if StylesAppend}}<link rel="stylesheet" href="{{"/assets/css/style.css" | AssetStamp}}">{{end}}
    {{if EnablePrism}}<link rel="stylesheet" href="{{"/assets/css/prism-vsc-dark-plus.css" | AssetStamp}}">{{end}}
    <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{SiteTitle}}">
    <meta name="author" content="{{SiteAuthor}}">
    <meta name="description" content="{{if .metadescription}}{{.metadescription}}{{else}}{{SiteDescription}}{{end}}">
    {{if .canonical}}<link rel="canonical" href="{{.canonical}}" />{{end}}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {{if EnablePrism}}
    <style>
    pre[class*="language-"] {
        padding: 0 !important;
    }

    code[class*="language-"] {
        background-color: inherit;
    }
    </style>
    {{end}}
    {{if SiteStyles}}
    <style>
    {{SiteStyles}}
    </style>
    {{end}}
</head>
{{end}}