body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

a {
    color: #3273dc;
}

.title {
    text-decoration: none;
    border: 0;
}

.title span {
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input:not([type="submit"]) {
    font-size: 16px;
}
textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 3px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values {
    display: none;
}

#date-range:target,
#initial-values:target {
    display: block;
}

/* dashboard post list */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #48d597;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #48d597;
    background: gradient(6deg,rgba(72,213,151,.2) 20%,rgba(72,213,151,.804359243697479) 100%);
}

html::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #222;
    background-color: rgba(34,34,34,var(--bg-opacity));
}

.author-image img {
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    border-radius: 30px;
}

#disqus_thread {
    margin-top: 40px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:#222;
        color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
        color: #eee;
    }

    a {
        color: #48d597;
    }

    code {
        background-color: #111;
    }

    pre code {
        color: #ddd;
    }

    blockquote {
        color: #ccc;
    }

    .helptext {
        color: #aaa;
    }
}