<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
    <header>
        <a class="title" href="/">
            <h2>{{SiteSubtitle}}</h2>
        </a>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/dashboard/posts">Posts</a>
            <a href="/dashboard/styles">Styles</a>
            <a href="/dashboard/logout">Logout</a>
        </nav>
    </header>

    <main>
        {{if .title}}
        <h1>{{.title}}</h1>
        {{end}}
        <content>
            {{template "content" .}}
        </content>
    </main>
    <footer>
        {{SiteFooter}}
    </footer>
</body>

</html>